<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="search-person">Search Person</a></li>
    <li class="divider"></li>
    <li><a href="create-person">Create Person</a></li>
    <li class="divider"></li>
    <li><a href="edit-person">Edit Person</a></li>
    <li class="divider"></li>
    <li><a href="delete-person">Delete Person</a></li>
    <li class="divider"></li>
    <li><a href="search-pet">Search Pet</a></li>
    <li class="divider"></li>
    <li><a href="create-pet">Create Pet</a></li>
    <li class="divider"></li>
    <li><a href="edit-pet-owner">Edit Pet</a></li>
    <li class="divider"></li>
    <li><a href="delete-pet-owner">Delete Pet</a></li>
    <li class="divider"></li>
    <li><a href="search-pet-owner">Search Pet Owner</a></li>
    <li class="divider"></li>
    <li><a href="create-pet-owner">Create Pet Owner</a></li>
    <li class="divider"></li>
    <li><a href="edit-pet-owner">Edit Pet Owner</a></li>
    <li class="divider"></li>
    <li><a href="delete-pet-owner">Delete Pet Owner</a></li>
    <li class="divider"></li>
    <li><a href="search-veterinarian">Search Doc</a></li>
    <li class="divider"></li>
    <li><a href="create-veterinarian">Create Doc</a></li>
    <li class="divider"></li>
    <li><a href="edit-veterinarian">Edit Doc</a></li>
    <li class="divider"></li>
    <li><a href="delete-veterinarian">Delete Doc</a></li>
    <li class="divider"></li>
    <li><a href="search-veterinary">Search Veterinary</a></li>
    <li class="divider"></li>
    <li><a href="create-veterinary">Create Veterinary</a></li>
    <li class="divider"></li>
    <li><a href="edit-veterinary">Edit Veterinary</a></li>
    <li class="divider"></li>
    <li><a href="delete-veterinary">Delete Veterinary</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="search-appointment">Search Appointment</a></li>
    <li class="divider"></li>
    <li><a href="create-appointment">Create Appointment</a></li>
    <li class="divider"></li>
    <li><a href="edit-appointment">Edit Appointment</a></li>
    <li class="divider"></li>
    <li><a href="delete-appointment">Delete Appointment</a></li>
    <li class="divider"></li>
    <li><a href="search-check">Search Check</a></li>
    <li class="divider"></li>
    <li><a href="create-check">Create Check</a></li>
    <li class="divider"></li>
    <li><a href="edit-check">Edit Check</a></li>
    <li class="divider"></li>
    <li><a href="delete-check">Delete Check</a></li>
  </ul>
<nav>
    <div class="nav-wrapper teal darken-4">
      <a href="#!" class="brand-logo right">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="home">Home</a></li>
        <li><a href="#" class="dropdown-trigger" data-target="dropdown1">Administration</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#" class="dropdown-trigger" data-target="dropdown2">Visit</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
    <li><a href="#">Administration</a></li>
    <li><a href="#">Security</a></li>
    <li><a href="#">Visit</a></li>
  </ul>
