<div class="row">
    <div class="col s12 m10 l12 offset-m1">
      <div class="card">
  
        <div class="card-action teal lighten-1 white-text">
          <h4>New Pet Owner <i class="material-icons prefix">security</i></h4>
        </div>
  
        <div class="card-content">
          <form [formGroup]="fgValidator" (ngSubmit)="CreatePetOwner()">
            <div class="form-field">
              <div class="input-field col s12">
                <i class="material-icons prefix">fingerprint</i>
                <label for="personaid">persona id</label>
                <input formControlName="personaid" type="text" id="personaid" class="validate" minlength="24" maxlength="24" required="required">
                <div class="red accent-1" role="alert">
                  <div *ngIf="(fgValidator.controls['personaid'].invalid && fgValidator.controls['personaid'].touched) || fgValidator.controls['personaid'].dirty">
                    <small *ngIf="fgValidator.controls['personaid'].errors" class="text-danger">personaid is required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="!fgValidator.controls['personaid'].valid" class="text-danger">  - Please register valid values</small>
                    <small *ngIf="fgValidator.controls['personaid'].errors?.['numberRegEx']" class="text-danger">Please provide a valid personaid</small>
                    <small *ngIf="fgValidator.controls['personaid'].errors?.['minLength']" class="text-danger">  - Min 24 characters</small>
                    <small *ngIf="fgValidator.controls['personaid'].errors?.['maxLength']" class="text-danger">  - Max 24 characters</small>
                  </div>
                </div>
              </div>
            </div><br>
  
            <div class="form-field">
              <button [disabled]="!fgValidator.valid" class="btn-large waves-effect waves-dark" style="width:100%;">Create
                <i class="material-icons right">send</i>
              </button>
  
              <a class="waves-effect teal lighten-3 waves-light btn-large" style="width:100%;"
                routerLink="/administration/search-pet-owner">List Elements <i
                  class="material-icons right">remove_red_eye
                </i></a>
  
            </div><br>
          </form>
        </div>
  
      </div>
    </div>
  </div>